 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

.zomato-top {
    background-image: url(../html/zomatobackground2.jpg);
    height: 450px;
    width: 100%;
    color: white;
    background-size: cover;
}

.image-header {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.top-left {
    flex: 0 0 calc(50% - 200px);
    margin-left: 200px;
}

.fa-mobile-alt {
    margin-right: 5px;
}

.top-right {
    flex: 0 0 calc(50% - 200px);
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.login {
    padding-right: 100px;
}

.zomato-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zomato-logo img {
     height: 60px;
     width: 300px;
    padding-top: 50px;
}

.zomato-discription {
    font-size: 30px;
}


.search-bar {
    background-color: white;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 0 20%;
}

.search-left {
    position: relative;
    display: flex;
    flex: 0 0 20%;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
}

.fa-map-marker-alt {
    color: #F57082;
    margin-right: 5px;
    font-size: 20px;
}

.searchbox {
    border: white;
}

.fa-sort-down {
    color: #4F4F4F;
    margin-right: 5px;
    font-size: 20px;
    border-right: 3px solid rgb(207, 207, 207);
    padding-right: 10px;
}

.searchbox-place {
    border: white;
    width: 100%;
}

.search-right {
    display: flex;
    align-items: center;
    flex: 0 0 65%;
}

.search {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #828282;
}

.fa-search {
    padding-right: 10px;
}

.heading {
    display: flex;
    margin: 50px 200px 70px;
}
    

.image img {
    height: 240px;
    width: 260px;
    border-radius: 10px;
}

.topic {
    position: relative;
    margin-right: 10px;
}

.note {
    position: absolute;
    bottom: 0;
    background: white;
    padding: 10px 0px 15px;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0px 0px 10px 10px;
    font-weight: 500;
    font-size: 18px;
}

.collection {
    margin: 0 200px;
    position: relative;
}

.discription {
    font-size: 20px;
    display: flex;
}

.collection-heading {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.explore {
    flex: 0 0 70%;
}

.collection-top {
    margin-bottom: 30px;
}

.chennai-collections {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    color: rgb(245, 112, 130);
}

.fa-caret-right {
    padding: 5px 10px;
}

.collection-bottom {
    display: flex;  
}

.christmas-spl {
    background-image: url(../html/zomatoabsolute1.webp);
}

.newyear-spl {
    background-image: url(../html/zomatoabsolute1.webp);
}

.trending {
    background-image: url(../html/zomatoabsolute1.webp);
}

.chennais-finest {
    background-image: url(../html/zomatoabsolute1.webp);
}

.know {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    background-size: cover;
    height: 275px;
    position: relative;
    border-radius: 10px;
    filter: brightness(0.9);
}

.name {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.places {
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}

.fix {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    box-shadow: 5px 0 100px rgba(0,0,0,1);
}

.chennai-localities {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.city-name {
    font-weight: 800;
}

.localities {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 200px;
}

.location {    
    display: flex;
    flex: 0 0 calc(27% - 20px);
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    background: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
    border-radius: 10px;
}

.cities-we-deliver {
    margin: 75px 200px;
}

.cities-places {
    display: flex;
    flex-wrap: wrap;
}

.cities-title {
    font-size: 30px;
    font-weight: 500;
    padding: 0;
}

.cities {
    flex: 0 0 20%;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(130, 130, 130);
}

.see-more {
    border-bottom: 1.5px solid rgb(28, 28, 28);
    font-size: 18px;
    color: rgb(28, 28, 28);
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer {
    margin: 75px 200px 0 ;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-top img {
    height: 28px;
    width: 130px;
}

.footer-box {
    display: flex;
}

.box { 
    display: flex;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 20px;
}

.fa-chevron-down {
    margin-left: 5px;
    margin-top: 10px;
}

.types {
    font-size: 20px;
}

.footer-between {
    display: flex;
    margin-bottom: 30px;
}

.group {
    flex: 0 0 20%;
}

.group-name {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.group-item {
    color:  rgb(105, 105, 105);
    padding-bottom: 5px;
}

.social-link {
    display: flex;
}

.group-icon {
    padding: 5px;
    font-size: 20px;
}

.footer-bottom {
    border-top: 1px solid rgb(207, 207, 207);
    color: rgb(79, 79, 79);
    padding: 20px 0;
}

.download img {
    height: 40px;
    width: 130px;
    margin-top: 10px;
}